.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 110px);
  grid-template-rows: repeat(5, 110px);
  gap: 10px;
  //   border-radius: 20px;
  border: 5px solid yellow;
}

.carousel-grid {
  grid-area: 1 / 1 / 6 / 5;
}

.content-right {
  grid-area: 1 / 5 / 6 / 10;
}

.nav-container {
  grid-area: 1 / 10 / 6 / 11;
}

.content-left-bottom {
  grid-area: 3 / 1 / 6 / 5;
  z-index: 10;
  border-top-right-radius: 90%;
}

// Breakpoints
@media (max-width: 600px) {
  .carousel-grid {
    grid-area: 1 / 1 / 1 / 1;
  }
  
  .content-right {
    grid-area: 1 / 4 / 6 / 10;
  }
  
  .nav-container {
    grid-area: 1 / 1 / 1 / 1;
  }
  
  .content-left-bottom {
    grid-area: 1 / 1 / 1 / 1;
    display: none
    
    // z-index: 10;
    // border-top-right-radius: 90%;
  }
}
