
.text-container {
  filter: blur(4px);
  // filter: grayscale(1);
  perspective: 1200px;

  position: relative;
}

.wheel {
  // z-index: -3;
  // width: 150px;
  // height: 150px;
  // border: 8px solid orange;
  // background-image: url('../Assets/images/enterAnimationBg/thunder-4963719.jpg');
  // background-size: cover;
  // box-shadow: 2px 2px 5px 3px gray;
  // position: absolute;
  // left: 500px;

  animation: rotater 80s linear infinite;
}

@keyframes rotater {
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Valko Capela';
  src: url('../Assets/fonts/VALKOCAPELARegular.ttf') format('truetype');
}

.text {
  font-size: 100px;
  display: inline-block;
  letter-spacing: 5px;
  font-weight: 400;
  font-family: 'Valko Capela';
  color: rgba(225, 225, 225, 1);
  background-image: url('../Assets/images/textBg/jellyfish-4497496.jpg');
  background-image: url('../Assets/images/textBg/theater-432045.jpg');
  background-size: auto;
  -webkit-background-clip: text; // INFO: needs to be with webkit!!
  text-transform: uppercase;
  background-repeat: repeat;
  animation: text-bg 60s ease-in-out infinite;
  // transform: rotateY(45deg);
}

.rotate-1 {
  transform: rotateY(45deg);
  position: relative;
  top: -10px;
}

.rotate-2 {
  transform: rotateY(-45deg);
}

@keyframes text-bg {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}
