.nav-component {
  background-color: pink;
  // height: 50px;
  // grid-area: 1 / 1 / 2 / 10;
  grid-area: 1 / 10 / 6 / 11;
  display: flex;
  flex-direction: column;
}

.idiot {
  // margin-inline: 15px;
  margin: auto 15px;
  border: 1px solid;
  border-radius: 5px;
  padding: 7px;
  box-shadow: -2px 4px 16px 5px rgba(0, 0, 0, 0.56);
}
