.fff-futura {
  font-family: futura, sans-serif;
}

.fff-monospace {
  font-family: monospace, sans-serif;
}

.fff-bodoni {
  font-family: 'Bodoni Moda', serif;
}

.fff-garamond {
  font-family: 'Cormorant Garamond', serif;
}

.fff-josephine {
  font-family: 'Josefin Sans', sans-serif;
}

.fff-baskerville {
  font-family: 'Libre Baskerville', serif;
}

.fff-montserrat {
  font-family: 'Montserrat', sans-serif;
}
