@mixin wire1 {
  width: 87vw;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  margin: 0;
}

@mixin wireTwo {
  margin: 0;
  // display: flex;

}
