@mixin wire1 {
  // min-width: 1000px;
  // height: 600px;
  display: grid;
  grid-template-columns: repeat(10, 110px);
  grid-template-rows: repeat(5, 110px);
  margin: 0;
}

@mixin wireTwo {
  margin: 0;
  // display: flex;
}
